---
layout: "00"
title: blockydob.blend
slug: blockydob
tags: [3d,fanart]
date: 2026-03-24

typ: b3d
main: blockydob_53-kden.gif
orient: vert

css: "
	#img{transition:.5s ease-in;} #img:active,#img:focus,#img:hover{transition:.65s ease-out;}
"

cp: |-
  - March 2026, start to (presented level of) finish
  - <b>time taken</b>: >40 hours base, +17h additional tweaks; other shenanigans not timed
---
<div class="wrap" markdown="1">
Caitlyn&nbsp;Kiramman <i>Arcane</i>show, but as a Dobermann. This particular pose is based on [an episode shot](https://www.youtube.com/watch?v=bihQ1y6nVSs).

Sparked by the work of [Chloe Worthy](https://www.artstation.com/chloeworthyart) and [Crashsune's low-poly tutorial series](https://www.youtube.com/playlist?list=PLcaQc6eQjXCxLobEfWAZi5hKItshNIWgc). There were many problems! I&nbsp;learned a lot! There is [a giant WIP page about it](https://a-flyleaf.github.io/shriblets/2026-03-blockydob) that I may or may not ever get around to finishing. And after all that, the model got a*nother* update, producing the gif featured here.

<figure><a href="{%include url.html%}/assets/art/blockydob_54-31-comparison.gif" class="fg"><img src="{%include url.html%}/assets/art/blockydob_54-31-comparison.gif" alt="A before-and-after side-by-side comparison. The updated gif features shinier colors, character movement, smoother shading, and other minor adjustments."></a></figure>

Pretty much everything I could ever say about the process and then some is on that behemoth page. Here's some extra nonsense.

<figure><a href="{%include url.html%}/assets/art/blockydob_54-dab.gif" class="fg"><img src="{%include url.html%}/assets/art/blockydob_54-dab.gif" alt="A gif where the model is spun around in the viewport. Then she hits the dab."></a></figure>

<figure><a href="{%include url.html%}/assets/art/blockydob_stupiddog.png" class="fg"><img src="{%include url.html%}/assets/art/blockydob_stupiddog.png" alt="A before-and-after side-by-side comparison. The updated gif features shinier colors, character movement, smoother shading, and other minor adjustments."></a>
<figcaption><small>family guy death pose (<a href="https://knowyourmeme.com/memes/family-guy-death-pose-peter-falls-down-the-stairs">family guy death pose</a>)</small></figcaption></figure>
</div>