---
layout: "00"
title: blockydob.blend
slug: blockydob
tags: [3d,fanart]
date: 2026-03-24

desc: |-
  Caitlyn&nbsp;Kiramman <i>Arcane</i>show, but as a Dobermann. This particular pose is based on [an episode shot](https://www.youtube.com/watch?v=bihQ1y6nVSs).
  
  Sparked by the work of [Chloe Worthy](https://xcancel.com/chloeworthyart/status/2011501176404009349) and [Crashsune's low-poly tutorial series](https://www.youtube.com/playlist?list=PLcaQc6eQjXCxLobEfWAZi5hKItshNIWgc). There were many issues! I learned a lot! There is [a giant WIP page about it](https://a-flyleaf.github.io/shriblets/2026-03-blockydob) that I may or may not ever get around to finishing. And after all that, the model got a*nother* update, producing the gif featured here.
  
  <a href="INC_URL/assets/art/blockydob_54-31-comparison.gif"><img src="INC_URL/assets/art/blockydob_54-31-comparison.gif" alt="A before-and-after side-by-side comparison. The updated gif features shinier colors, character movement, smoother shading, and other minor adjustments."></a>
  
  Have some extra nonsense.
  
  <a href="INC_URL/assets/art/blockydob_54-dab.gif"><img src="INC_URL/assets/art/blockydob_54-dab.gif" alt="A gif where the model is spun around in the viewport. Then she hits the dab."></a>
  
  <a href="INC_URL/assets/art/blockydob_stupiddog.png"><img src="INC_URL/assets/art/blockydob_stupiddog.png" alt="A before-and-after side-by-side comparison. The updated gif features shinier colors, character movement, smoother shading, and other minor adjustments."></a>  
  <small>family guy death pose ([family guy death pose](https://knowyourmeme.com/memes/family-guy-death-pose-peter-falls-down-the-stairs))</small>

---
<header><div class="wrap"><a href="{%include url.html%}">a-flyleaf/art-2026</a> ◆ <b>{{page.title}}</b></div></header>
<main>
	<figure>
		<a href="{%include url.html%}/assets/art/blockydob_53-kden.gif" target="_blank"><img src="{%include url.html%}/assets/art/blockydob_53-kden.gif" alt=""></a>
		<figcaption>all images on this page open the fullsize in a new tab</figcaption>
	</figure>
	
	<h1>{{page.title}}</h1>
	March 2026
	
	<div class="wrap">{%capture url%}{%include url.html%}{%endcapture%}{{page.desc|markdownify|replace:"INC_URL",capture}}</div>
</main>