---
layout: "00"
title: blockydob.blend
slug: blockydob
tags: [3d,fanart]
date: 2026-03-24

font: >-
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
css: "
	body{background:#181818; color:#dcdcdc; font-family:inter,calibri,sans-serif; font-size:1.25em;}
	::selection{background:#000; color:#ff9f2c;}
	a{color:inherit; text-decoration-color:#ff9f2c;} a:focus,a:hover,a:active{color:#fff; text-decoration:none;}
	
	#img{transition:.5s ease-in;} #img:active,#img:focus,#img:hover{opacity:.75; transition:.65s ease-out;}
	
	h1{font-size:2em; font-style:italic; border-bottom:1px solid #4a4a4a; padding:.25em 0; color:#b8b8b8;}
	#cp ul{margin:.5em 0 1em 1em;} #cp li{font-size:.75em; line-height:1.5; margin:.5em 0;} #cp li b{font-weight:normal; text-transform:uppercase;}
	
	.wrap{max-width:44rem; padding:0 1em;}
	p{line-height:1.5; margin:1em 0;}
	small{font-size:.75em;}
	
	#desc{background:#2e2e2e; padding:1em 0; border-top:1px solid #4a4a4a; border-bottom:1px solid #4a4a4a;}
	#desc p:first-child{margin-top:0;}
	figure{text-align:center; margin:1em 0;}
	.fg{display:inline-block; border:1px solid #4a4a4a; line-height:0; border-radius:.25rem; overflow:hidden;} .fg:hover,.fg:active,.fg:focus{border-color:#ff9f2c;}
	figcaption{color:#808080;}
	
	#ns{text-align:center; margin:2em 0 0;}
	
	hr{border:0;}
	footer{background:#181818; padding:.5em 0 .75em; text-align:center;} footer a{color:#808080; text-decoration:none;}
	
	@media only screen and (min-width:40em){
		.col{width:49%; display:inline-block; vertical-align:middle;}
		h1{font-size:1.5em;}
		#col a{display:block; text-align:right;} #col img{vertical-align:bottom;} /*https://stackoverflow.com/questions/15940338/is-there-a-way-via-css-to-set-the-image-height-to-the-line-height/15940849#15940849*/
		#cp ul,#cp li:last-child{margin-bottom:0; max-width:27.5em;}
		
		#desc{padding:1em;}
	}
	@media only screen and (min-width:80em){
		h1{font-size:2em;}
		@supports (max-height:1vh){
			.col img{max-height:100vh;}
			#cp{margin-top:75vh;}
		}
	}
"

cp: |-
  - March 2026, start to (presented level of) finish
  - <b>time taken</b>: >40 hours base, +17h additional tweaks; other shenanigans not timed

desc: |-
  Caitlyn&nbsp;Kiramman <i>Arcane</i>show, but as a Dobermann. This particular pose is based on [an episode shot](https://www.youtube.com/watch?v=bihQ1y6nVSs).
  
  Sparked by the work of [Chloe Worthy](https://xcancel.com/chloeworthyart/status/2011501176404009349) and [Crashsune's low-poly tutorial series](https://www.youtube.com/playlist?list=PLcaQc6eQjXCxLobEfWAZi5hKItshNIWgc). There were many issues! I&nbsp;learned a lot! There is [a giant WIP page about it](https://a-flyleaf.github.io/shriblets/2026-03-blockydob) that I may or may not ever get around to finishing. And after all that, the model got a*nother* update, producing the gif featured here.
  
  <figure><a href="INC_URL/assets/art/blockydob_54-31-comparison.gif" class="fg"><img src="INC_URL/assets/art/blockydob_54-31-comparison.gif" alt="A before-and-after side-by-side comparison. The updated gif features shinier colors, character movement, smoother shading, and other minor adjustments."></a></figure>
  
  <p id="ns">Have some extra nonsense.</p>
  
  <figure><a href="INC_URL/assets/art/blockydob_54-dab.gif" class="fg"><img src="INC_URL/assets/art/blockydob_54-dab.gif" alt="A gif where the model is spun around in the viewport. Then she hits the dab."></a></figure>
  
  <figure><a href="INC_URL/assets/art/blockydob_stupiddog.png" class="fg"><img src="INC_URL/assets/art/blockydob_stupiddog.png" alt="A before-and-after side-by-side comparison. The updated gif features shinier colors, character movement, smoother shading, and other minor adjustments."></a>
  <figcaption><small>family guy death pose (<a href="https://knowyourmeme.com/memes/family-guy-death-pose-peter-falls-down-the-stairs">family guy death pose</a>)</small></figcaption></figure>

---
<main>
	<section id="col">
		<div class="col"><a href="{%include url.html%}/assets/art/blockydob_53-kden.gif" target="_blank" id="img"><img src="{%include url.html%}/assets/art/blockydob_53-kden.gif" alt=""></a></div>
		<div id="cp" class="wrap col">
			<h1>{{page.title}}</h1>
			{{page.cp|markdownify}}
		</div>
	</section>

	<section id="desc"><div class="wrap">{%capture url%}{%include url.html%}{%endcapture%}{{page.desc|markdownify|replace:"INC_URL",capture}}</div></section>
</main><hr><footer><div class="wrap">
	<small><a href="{%include url.html%}">a-flyleaf ◇ <b>art-2026</b></a></small>
</div></footer>