---
layout: "00"
title: moff.blend
slug: moff
tags: [3d,fanart]
date: 2026-04-27

typ: b3d
main: moff_3-tweak.gif
orient: sqh

css: "
	#cp{text-align:center;}
	h1{font-size:2em; font-style:italic; border-bottom:1px solid #4a4a4a; padding:.25em 0;}
	#cp ul{list-style-type:none;} #cp li:before{content:'￮'; margin-right:.5em; margin-left:-1.5em;}
"

cp: |-
  - April 22, 2026 (with some tweaks on the 27th)
  - <b>time taken</b>: ~7.5 hours base, +35m tweaks
---
<div class="wrap" markdown="1">
Caught a Venomoth in a recent <i>Pokémon FireRed</i> playthrough and it was surprisingly good! That and its big ol' eyes nudged it up my Bug-type favoritism rankings some.

This is a very simple model with an even simpler rig. It's based on [a specific plush](https://www.pokemoncenter.com/product/701-03830/venomoth-sitting-cuties-plush-6-in), and although I wasn't counting polys, it happens to clock in at 1,500 tris exactly. Also, both wings flap with one (1) driver-controlled bone movement. Neat!

<figure><a href="{%include url.html%}/assets/art/moff_3-rig.jpg" class="fg"><img src="{%include url.html%}/assets/art/moff_3-rig.jpg" alt="A side view wireframe of the moth, with its bones highlighted and statistics displayed."></a></figure>

I'm also pretty happy with how the colors turned out! The entire base palette uses [named HTML colors](https://htmlcolorcodes.com/color-names/), just to keep it simple, but the real magic is in the shader nodes. [Voilà:](https://old.reddit.com/r/blender/comments/1eqlwuw/no_idea_how_to_apply_hue_shifting_by_light_level/)

<figure><a href="{%include url.html%}/assets/art/moff_3-compare.png" class="fg"><img src="{%include url.html%}/assets/art/moff_3-compare.png" alt="A screenshot of two moth models, one vibrant and one washed-out. Below is the base image texture, and the node tree for the shadows."></a>
<figcaption><small>For an extra clear example, I turned the Factor all the way up on the foreground moth here. The paler duplicate ignores the Color&nbsp;Ramp entirely.</small></figcaption></figure>

Realism be darned, I like colors. And doofy eyes.
</div>

<figure><a href="{%include url.html%}/assets/art/moff_3-hi.jpg" class="fg"><img src="{%include url.html%}/assets/art/moff_3-hi.jpg" alt="A side view wireframe of the moth, with its bones highlighted and statistics displayed."></a>
  <figcaption><small>u got games on ur phone?</small></figcaption></figure>