---
layout: "00"
title: japhet.blend
slug: japhet
tags: [3d,fanart]
date: 2026-05-28

font: >-
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
css: "
	body{background:#181818; color:#dcdcdc; font-family:inter,calibri,sans-serif; font-size:1.25em;}
	::selection{background:#000; color:#ff9f2c;}
	a{color:inherit; text-decoration-color:#ff9f2c;} a:focus,a:hover,a:active{color:#fff; text-decoration:none;}
	
	.col:first-child{text-align:center; padding:1em 1em 0;} #img img{max-height:95vh; border:1px solid #4a4a4a;} #img:active,#img:focus,#img:hover{opacity:.75;}
	
	#cp{text-align:right;}
	h1{font-size:2em; font-style:italic; border-bottom:1px solid #4a4a4a; padding:.25em 0; color:#b8b8b8;}
	#cp ul{margin:.5em 0 1em 1.25em; list-style-type:none;} #cp li{font-size:.75em; line-height:1.5; margin:.5em 0;} #cp li b{font-weight:normal; text-transform:uppercase;}
	
	.wrap{max-width:44rem; padding:0 1em;}
	p{line-height:1.5; margin:1em 0;}
	small{font-size:.75em;}
	
	#desc{background:#2e2e2e; padding:1em 0; border-top:1px solid #4a4a4a; border-bottom:1px solid #4a4a4a;}
	#desc p:first-child{margin-top:0;}
	figure{text-align:center; margin:1em 0;}
	.fg{display:inline-block; border:1px solid #4a4a4a; line-height:0; border-radius:.25rem; overflow:hidden;} .fg:hover,.fg:active,.fg:focus{border-color:#ff9f2c;}
	figcaption{color:#808080;}
	
	hr{border:0;}
	footer{background:#181818; padding:.5em 0 .75em; text-align:center;} footer a{color:#808080; text-decoration:none;}
"

cp: |-
  - May 20, 2026 (with renders on the 27--28th)
  - <b>time taken</b>: ~15.25 hours

desc: |-
  A character design that has inexplicably stuck with me is Japhet [<i>OFF</i>game](https://offtherpg.com/) (the original; haven't tried the remaster yet). Cat eats birb, birb puppets cat from within, birb bursts out of cat's mouth pixel-horror-style in the buildup to the boss fight. It's pretty cool!
  
  <figure><iframe width="560" height="315" src="https://videopress.com/embed/ihs3k9EB" frameborder="0" allowfullscreen allow="clipboard-write"></iframe><script src="https://videopress.com/videopress-iframe.js"></script><!--https://aflyleaf3.wordpress.com/2017/03/17/hhhh-2-hours-and-35-layers-later-have-an/-->
  <figcaption><small>Animation I made in March&nbsp;2017 (2&nbsp;hours, 35&nbsp;layers), inspired stylistically by the films of William&nbsp;Kentridge. Haven’t revisited the technique since, but I dig the visual effects.</small></figcaption></figure>
  
  Anyway, this was a great modeling challenge. Did a big complicated rig All By Myself™! He's not T-posed by default but whatever!! Features a smidge of Grease&nbsp;Pencil for the eye & beak outlines, some crumb of a setting, and one of Blender's default HDRIs for the lighting.
  
  In theory Valerie (the cat) could move with physics only, but I kinda like having individual bone control, tedious as it is to get all the positioning right. 
  
  - also maybe an overhead of the viewport. broken-ass pose

---
<main>
	<section id="col">
		<div class="col"><a href="{%include url.html%}/assets/art/japhet_12-smooth.png" target="_blank" id="img"><img src="{%include url.html%}/assets/art/japhet_12-smooth.png" alt=""></a></div>
		<div id="cp" class="wrap col">
			<h1>{{page.title}}</h1>
			{{page.cp|markdownify}}
		</div>
	</section>

	<section id="desc"><div class="wrap">{%capture url%}{%include url.html%}{%endcapture%}{{page.desc|markdownify|replace:"INC_URL",capture}}</div></section>
</main><hr><footer><div class="wrap">
	<small><a href="{%include url.html%}">a-flyleaf ◇ <b>art-2026</b></a></small>
</div></footer>