---
layout: "00"
title: brame animal.
slug: brame
tags: [3d,bodyhorror]
date: 2026-06-11
# ^from the displayed animation. concepts and actual page are from later BUT I want this to precede the 2d art (slade & 404 crew) so it'll keep the OG date.

font: <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
# if I recycle the b3d layout or at least the first part; ^font can stay regardless for the dropdown
# main: 
# orient: sqh

css: "
	body{background:#000; color:#fff; font-family:'courier new',courier,monospace;}
	.wrap{max-width:42rem; padding:0 1rem;}
	main,footer{padding:0 1rem;}
	::selection{background:#000; color:#808080;}
	
	#img{text-align:center; padding:2rem 1rem;}
	.img{border:1px solid #000; display:inline-block; line-height:0;} .img:hover,.img:focus,.img:active{opacity:.75; border:1px dashed #bfbfbf;}
	
	p{margin:1.25em 0;} .txt p:first-of-type{margin-top:0;} .txt p:last-of-type{margin-bottom:0;}
	a{color:inherit; text-decoration-style:dashed; text-decoration-color:#9f9f9f;} a:hover,a:active,a:focus{color:#808080; text-decoration:none;}
	.txt{background:#202020; border:1px solid #808080; padding:1em; margin:1em auto; line-height:1.5;}
	.em::after{content:'—';}
	
	details{font-family:'inter',calibri,sans-serif; border:1px dashed #9f9f9f; margin:1.25em 0; color:#efefef;}
	summary{padding:.5em 1em; color:#bfbfbf; letter-spacing:0.025em;} summary:hover,summary:active,summary:focus{background:#000; color:#efefef;}
	#dt{padding:.5em 1em; border-top:1px dotted #9f9f9f;}
	ul{margin-left:1em;} li{margin:.5em 0;}
	
	figure{text-align:center; margin:3em auto;}
	small{font-size:.875em;}
	figcaption{color:#bfbfbf; line-height:1.25; padding:0 1em;} figcaption.wrap{text-align:left;}
	
	#multi img{max-height:500px;}
	
	footer{padding:2em 0;} footer a{text-decoration:none;} footer span{color:#fff;}
	
	#footnote{color:#9f9f9f; padding:1em; line-height:1.25;}
	hr{margin-top:1.5em !important; border:1px dashed #808080;}
"

# cp: |-
#  ///

desc1: |-
  Back in 2023, I cobbled together this bizarro frankendeer and called it <i>brame</i>, from [an album I was looping at the time](https://rubymydear.bandcamp.com/album/brame). More recently I thought it'd make for some neat 3D practice. Its design has only ever been envisioned in solid <span style="background:#000;color:#fff;">#000000</span> black<span class="em">---</span>so whereas [last model](INC_URL/japhet) was *meant* to be flat but ended up shiny, I ignored shadows and other 3D sensibilities on this one from the getgo.
  
  This turned out to be... *interesting,* considering how busy the design is with all the limbs. *Oh well.* I could probably futz with that by manually adjusting the colors of each object, maybe varying it by camera distance, but this mostly ended up being an experiment in the compositor and (to a lesser extent) animation workflow.
  
  <details><summary><b>obligatory blender linkspam haul</b></summary><div id="dt">DT_BL</div></details>
  
  <b style="text-transform:uppercase;font-weight:normal;">time taken</b>: ~14&nbsp;hours 43&nbsp;minutes, for the model & animation shown above. GIF corrections made in [ezgif](https://ezgif.com/). A turnaround and idle animation (combination thereof) were attemped and went... poorly. Things to revisit another time.
details-blender: |-
  - [changing the viewport background](https://blender.stackexchange.com/questions/164502/how-to-change-the-viewport-background-color)
  - [batch renaming bones](https://blender.stackexchange.com/questions/40279/bulk-renaming-armature-bones-after-already-creating-them)
  - [[YouTube] using & rendering view layers](https://www.youtube.com/watch?v=gUxC_Xl4Tjk) (used to force the eye overlap)
  - [various methods for rendering pixelated graphics](https://old.reddit.com/r/blender/comments/15d98qe/is_there_any_way_to_replicate_psx_style_pixelated/) (I used [Film > Filter&nbsp;Size](https://old.reddit.com/r/blender/comments/15d98qe/is_there_any_way_to_replicate_psx_style_pixelated/ju210zn/))
  - [adding jitter to an animation](https://blender.stackexchange.com/questions/273958/adding-jitter-to-a-constrained-camera) (exemplified with the camera but can be used for anything; I slapped it on the legs. and also the camera)
  - [[YouTube] animation layers with the NLA editor](https://www.youtube.com/watch?v=Vud9Ora9IwE)

desc2a: |-
  Also, while it's not like the shiny new site *obliges* me to have extras with everything, I felt like this would be a little empty without. So, since I didn't use a model sheet and winged it straight from the redesign sketches, here are the aforementioned redesign sketches!
desc2b: |-
  The *original* design concepts can be found on Toyshelf: [initial scrawling from 2023](https://a-flyleaf.github.io/toyshelf/art/brame-concepts) and [these random headshots](https://a-flyleaf.github.io/toyshelf/art/brame-heads). Bla bla what is consistency I don't know how the eyes keep getting flipped. Last but certainly not least, here are some design notes from *after* I set the model aside (for now):
desc2c: |-
  Maybe I will punt it to ArtFight. Maybe it will have to keep haunting this page. Who knows. I am picking it up with tweezers and flinging it out the window.

---
<main>
	<section id="img"><a href="{%include url.html%}/assets/art/brame_07-ezgif-grsc-noloop.gif" target="_blank"><img src="{%include url.html%}/assets/art/brame_07-ezgif-grsc-noloop.gif" alt="gif of a deerlike amalgamation, rising shakily. Then it screams."></a></section>
	<div class="txt wrap">{%capture incurl%}{%include url.html%}{%endcapture%}{%capture details-blender%}{{page.details-blender|markdownify}}{%endcapture%}{{page.desc1|markdownify|replace:"INC_URL",incurl|replace:"DT_BL",details-blender}}</div>
	<figure>
		<a href="{%include url.html%}/assets/art/brame_07-ui.gif" target="_blank" class="img"><img src="{%include url.html%}/assets/art/brame_07-ui.gif" alt="The animation shown above, but in Blender. Shows the solid black silhouette as rendered (no background); a slightly shifted angle with separate parts outlined and no camera zoom; and a Noise modifier in the animation graph editor."></a>
		<figcaption><small>Here’s the thing with & without camera movement. The gif colors glitched out for some reason, but I kinda dig it.</small></figcaption>
	</figure>
	<figure id="multi">
		<a href="{%include url.html%}/assets/art/brame_02.jpg" target="_blank" class="img"><img src="{%include url.html%}/assets/art/brame_02.jpg" alt="3/4ths view with viewport shading"></a>
		<a href="{%include url.html%}/assets/art/brame_03.jpg" target="_blank" class="img"><img src="{%include url.html%}/assets/art/brame_03.jpg" alt="side view"></a>
		<a href="{%include url.html%}/assets/art/brame_04.jpg" target="_blank" class="img"><img src="{%include url.html%}/assets/art/brame_04.jpg"></a>
		<figcaption><small>Various process shots, ft. what happens if I hide the head object.</small></figcaption>
	</figure>
	<figure>
		<a href="{%include url.html%}/assets/art/brame_09-f30.jpg" target="_blank" class="img"><img src="{%include url.html%}/assets/art/brame_09-f30.jpg"></a>
		<figcaption class="wrap"><small>Frame from the scrapped idle-turnaround, highlighting some details that aren’t clear in the render: the array of jaw-hair-teeth, the upper teeth (only one row, to make the rendered area clearer), and the split bones in the forelimbs. Ignore the gratuitous clipping here and elsewhere; as long as the silhouette works, idgaf about whether it makes 3D sense.</small></figcaption>
	</figure>
	
	<div id="footnote" class="wrap"><small>[I was going to put sketch-concepts here and then actually made the page and went. hey y’know what this is fine as-is actually. <em style="text-transform:uppercase;font-style:normal;">so</em> those will happen on a separate page, and for now this footnote is here instead. anyway]</small></div>
	
	<!--figures now that i actually Make the page i'm like. oh it's fine actually. yeah there doesn't need to be anything else, that can be separate. AUGH
	<hr>
	
	<div class="txt wrap">{{page.desc2a|markdownify}}</div>
	CONCEPTS & TRANSCRIPTIONS
	<div class="txt wrap">{{page.desc2b|markdownify}}</div>
	6/21 DESIGNNOTES & TRANSCRIPT
	<div class="txt wrap">{{page.desc2c|markdownify}}</div>
	
	BONUS INTERACTIVE MOODBOARD; text design notes in the figcaption? unless redundant with the image which they probably are idk
	-->
	
</main>
<hr class="wrap">
<footer><div class="wrap"><a href="{%include url.html%}"><span>«</span> a-flyleaf/<b>art-2026</b></a></div></footer>

<!--
## brame bs [6/21]
- insp, in no particular order:
	- [botfly deer head](https://en.wikipedia.org/wiki/File:DeerBotFlyReaumur.jpg)
	- [brame album](https://rubymydear.bandcamp.com/album/brame) (via [the playlist of a deer OC](https://open.spotify.com/playlist/4hPLLN7xJhzX0SSJDzCbjZ), although no (deliberate) design insp was taken here)
	- [boisvert](https://www.youtube.com/@_boisvert163/videos) eyes (much like hellrabbit)
	- mantis arms
	- [bubbblebaath art](https://bubblebaath.tumblr.com/post/174097772155/group-pic)
	- antler picked off [balloon album](https://rubymydear.bandcamp.com/album/balloon)
	- taffly & reddhott
	^ yeah it's kind of A Lot
- has a voice like brame album screaming (think midway through [this one](https://rubymydear.bandcamp.com/track/an-mone)) but also boisvert whisper? idk. has changed a Lot from the original concept already
- rear legs & tail are vestigial and mostly if not entirely numb; cruxes of movement are in the clavicle & head
- design is neither fully 2D nor 3D. the flat eye Watches from every front & side angle, does not respond to perspective; but the bulging "eye" is very much round and shiny and kinda wet. gross.
	- there's a 3D model and design notes but those are from 2026... thinking I might like. art site first then compile it for toyshelf or wherever else? idk man the idea here is to reduce redundancy :Ic
-->