---
layout: "00"
title: movie day
slug: movie-day
tags: [2d,404]
date: 2026-06-22

typ: fa
main: movie-day.png
# no img-class on this one, decided against making it transparent

css: "#f2019 .fg{border:0;} #f2019 figcaption{color:#fff; text-align:center; padding:.25em 0;}"
---
<div class="wrap"><div class="box" markdown="1">
In 2018 I played <i>Doki&nbsp;Doki Literature&nbsp;Club!</i> and got so fixated on the concept of an incomplete-reality!glitched-game!world (with people stuck in it!) that the whole thing turned into the original project <i style="font-family:consolas,monospace">404</i>. It launched briefly as [a web-based ?comic-site-thing](https://a-flyleaf.github.io/hello-world), then petered out when I got stuck on a scene and became dissatisfied with the story in general.

Anyway, it sounds like [<i>The Amazing Digital Circus</i>](https://www.glitchprod.com/digital-circus) does everything thematically that I wanted to accomplish with <i style="font-family:consolas,monospace">404</i> and then some. I haven't watched it yet because I don't like getting into things that are still in progress. The finale premiered on YouTube a few days ago, it continues to sound extremely relevant to my interests, and rather than start watching it I drew this.
</div></div>

<figure><a href="{%include url.html%}/assets/art/movie_wips.jpg" class="fg"><img src="{%include url.html%}/assets/art/movie_wips.jpg" alt="process shots of the drawing"></a></figure>

<div class="wrap"><div class="box" markdown="1">
<b class="sc">time taken</b>: ~3&nbsp;hours. Background Pomni crucifixion <small>(a delightful string of words, that)</small> from [a neat article about the series](https://www.cartoonbrew.com/interviews/the-amazing-digital-circus-creator-gooseworx-on-developing-the-internets-hottest-animated-pilot-234217.html). Follow-up art TBA, maybe. For now, here's a 2019 doodle of the crew being horrible movie theater patrons.
</div></div>

<figure id="f2019"><a href="{%include url.html%}/assets/art/2019-03-10.jpg" class="fg"><img src="{%include url.html%}/assets/art/2019-03-10.jpg" alt="aforementioned doodle, the four in a row in theater seats. Two of them are blabbing, much to the annoyance of the others."></a>
<figcaption markdownify="1">
<small>I don't remember why the seating order changed here. It benefits no one.</small>
</figcaption></figure><!--this could really be under the hello-world bonus gallery but EH it goes here for now (indefinitely) instead-->

<!--FOLLOW-UP GOES HERE-->