---
layout: "00"
title: hipster ’yote
slug: hipster-yote
tags: [2d,sladeauctor]
date: 2026-06-21

typ: fa
main: hipster-yote.png
img-class: nobg

desc1: |-
  Recently trawled through my [Toyshelf](https://a-flyleaf.github.io/toyshelf/) again, got reminded of [this fella](https://a-flyleaf.github.io/toyshelf/misc/slade-auctor)---particularly his [one-off Halloween plush](https://a-flyleaf.github.io/toyshelf/art/plushies). Sometimes one has to draw their >decade-old self-insert as an anthro, as a treat.
figure:
  url: hipster_wips.jpg
  figcaption: |-
    Animal head and legs on a human(oid) torso, no problem. Arms and hands, meanwhile... *eh.* Slade's peculiar underside markings didn't really help. He also looked barefoot with full detail and bare feet, so *bam*, blocky loafers be upon ye.
    
    Shirt lines were automatic via FireAlpaca's built-in parallel line   tool; didn't feel like drawing all that around the body proper. Pocket placement is also a little odd since, if you squint, he was originally supposed to be holding some kind of satchel; I scrapped that early on but didn't change the hand position. *Oh well.* Little self-crits to keep in mind next time...!!
desc2: |-
  I don't really know how glasses or shoes work with furry anatomy, but the former took a cue from [this reddit post](https://old.reddit.com/r/furry/comments/10v0sbw/you_know_normal_glasses_just_wouldnt_work_on_most/j7g5erl/). Extremely nerdy, which isn't not fitting.
  
  <b style="font-weight:normal;text-transform:uppercase;">time taken</b>: ~3 hours. Not bad for a fullbody!

---
<header><div class="wrap">
	<h1>{{page.title}}</h1>
	<span>{{page.date|date:"%B %e"}}</span>
</div></header>
<main>
	<section id="img" class="nobg"><a href="{%include url.html%}/assets/art/hipster-yote.png"><img src="{%include url.html%}/assets/art/hipster-yote.png" alt=""></a></section>
	
	<div class="wrap"><div class="box">{{page.desc1|markdownify}}</div></div>
	
	<hr>
	
	<figure>
		<a href="{%include url.html%}/assets/art/{{page.figure.url}}" class="fg"><img src="{%include url.html%}/assets/art/{{page.figure.url}}" alt="process shots of the drawing"></a>
		<figcaption class="wrap"><div class="box">{{page.figure.figcaption|markdownify}}</div></figcaption>
	</figure>
	
	<div class="wrap"><div class="box">{{page.desc2|markdownify}}</div></div>
	
	<hr>
</main>
<footer><div class="wrap"><a href="{%include url.html%}">a-flyleaf/<b>art-2026</b></a></div></footer>