---
layout: "00"
title: The Amazing Digital 404s
slug: tad404
tags: [404]
date: 2026-08-05

typ: fa
# main: this one's weird hold on

css: "
	body,header,#first.box,footer{background:#000; color:#fff;}
	#fa ::selection{background:#000; color:#808080;} #fa img::selection{background:0;}
	#fa header,#fa footer{font-family:consolas,monospace; font-size:.85em; color:#b7b7b7;}
	h1,footer b{font-weight:normal;}
	header span{color:#000; cursor:default;} header span::after{content:'2026-08-05'; color:#808080;} header span::selection{color:#000 !important;}
	
	#fa main{background-image:url(./assets/24x24.png); background-attachment:fixed; background-size:24px; background-position:center; border-top:1px solid #000 /*getting rid of it altogether messes with the margins*/}
	.box#first{text-align:center; margin:2.5em auto;}
	.box p{font-family:serif; font-size:1.15em;}
	#fa a:hover,#fa a:active,#fa a:focus{background:#484848; color:#fff;}
	
	details{text-align:center;}
	summary{list-style:none; cursor:default; display:inline-block; border:0;} summary::marker,details>summary::-webkit-details-marker{display:none;}
	#pt1{background:rgba(255,255,255,.85);}
	#pt2{background:rgba(0,0,0,.75);}
	#fa details .wrap{padding:2em 1em 3em;}
	.script{font-family:consolas,monospace; text-align:left; font-size:1.15em; padding:1em; line-height:1.5;}
	.script br{margin-bottom:.25em;}
	.script p+p,.script ul+p{margin-top:.75em;}
	#pt1 .script{background:#fff; color:#000; border:2px solid #000;}
		#pt1 .script ::selection{background:#efefef; color:#000;}
		#pt1 .script i{color:#808080;}
	#pt2 .script{background:#000; border:2px solid #fff;}
		#pt2 .script ::selection{background:#484848; color:#fff;}
		#pt2 .script i{color:#efefef;}
	.s1{color:#cc0000;} .s2{color:#4f4f80; font-family:arial,sans-serif;} .s2c,.script ul,.s3{color:#3f3f4d; font-family:georgia,serif;} .s3{color:#e6ca87;} .s4{color:#00cc00; font-family:'comic sans ms',verdana,sans-serif;}
	/*specific weird shit*/
		i i{text-decoration:underline;}
		.script ul{margin-left:1em;} .script ul li:last-child{margin-top:.25em;}
		big{font-size:1.5em;}
"
---
<div class="wrap"><div class="box" markdown="1" id="first">
Follow-ups to [this doodle](movie-day), sort of. Check that one out first!
</div></div>

<details id="pt1" OPEN><summary><img src="{%include url.html%}/assets/art/tad404_12.png" alt="A comic. Transcription in the dropdown."></summary><div class="wrap"><div class="script" markdown="1">
<i>[2 is making a house of cards.]</i>  
<span class="s1"><b>1</b>: Hey, Kade!</span> <i>[The dialogue slams into the cards and 2 flinches. There is a bowling strike sound effect.]</i>

<span class="s1"><b>1, across the table</b>: I think we should talk about our feelings!</span> <i>[She's spotlighting a screenshot from <i>The Amazing Digital Circus</i> episode&nbsp;3, in which Caine does talk therapy.  
[2 (Kade) is not amused.]</i> <span class="s2"><b>Kade</b>: we should absolutely the fuck *not*---</span>/<span class="s1"><b>1, interrupting</b>: See? I know you just *love* to be honest with me~</span>

<i>[Kade is pissed.]</i> <span class="s2c">"Hmm. Well, see..."</span> <i>says Kade's nicer judgment, as depicted by the wise and benevolent Cyrus:</i>

- <span class="s2c">"You've been wanting to be nicer.</span>
- <span class="s2c">"If she's being sincere, this could be mutually beneficial.</span>
- <span class="s2c">"If she's not, it's another day ending in Y.</span>
- <span class="s2c">"Also, it might get her off your back for a while---"</span>

<span class="s2"><b>Kade, aloud</b>: actualy, you know what? sure.</span> <i>[Much to 1's surprise,]</i> <span class="s2">you go first.</span>

<i>[A beat.]</i>

<span class="s2"><b>Kade</b>: ...val?</span>  
<span class="s1"><b>1 (Val), uncharacteristically unexpressive</b>: I did not think I would get this far!</span>
</div></div></details>
<details id="pt2" OPEN><summary><img src="{%include url.html%}/assets/art/tad404_34.png" alt="Another comic. Transcription in the dropdown again."></summary><div class="wrap"><div class="script" markdown="1">
<i>[Meanwhile, the "wise and benevolent Cyrus" is wringing their scarf.]</i>  
<span class="s4"><b>4</b>: i ~~spawned~~ <em class="sc noi">conjured</em> an army of caine clones!</span>  
<i>[3 (Cyrus) and 4 stand atop a blocky cliff, overlooking an army of crude MSPaint [Caine-knockoff](https://www.youtube.com/watch?v=FkXhKu80CWU) clones.</i>

<i>[Cyrus is horrified. Actual-Caine, vividly recalled, went [somewhat off the shits](https://www.youtube.com/watch?v=DMNlzf8PiEM).]</i>  
<span class="s3"><b>Cyrus [to 4]</b>: <big>Why?</big></span>

<span class="s4"><b>4</b>: ---**!**</span>

<i>[He thinks. [He has no answer.](https://gunshowcomic.com/513)]</i>
</div></div></details>