---
layout: "00"
title: "danger: strangers"
slug: danger-strangers
tags: [2d,disasterCrew]
date: 2026-08-04

typ: fa
main: danger-strangers.png
alt: >-
  "No, thanks," says one of a young couple, "we really don't have time for---" "Well," interrupts the other one, "first of all---"; the speech bubble cuts off there. He misses being a tweenage Vine star, and is pretty enthusiastic about the phone camera pointed their way. There's no joy in her smile, though.
# no img-class, not transparent

css: "#fa figcaption .box{background:0; color:#fff; margin:0 auto; padding:.5em 1em;} figcaption p{font-size:.9em; line-height:1.5;} figcaption ::selection{color:#000;}"
---
<div class="wrap"><div class="box" markdown="1">
Doodle that I felt like uploading on its own ~~largely because I still haven't made any roundups for this year lol whoops~~. I recently uploaded some old art of [these two](https://a-flyleaf.github.io/toyshelf/disaster-crew) to Toyshelf, which naturally had me thinking about them and that entire storyline again. It's a lot..!

Anyway, this was meant to be a style test, but clean lines and cel shading happened instead. Time taken not recorded.
</div></div>

<figure>
<a href="{%include url.html%}/assets/art/danger-strangers_wips.jpg" class="fg"><img src="{%include url.html%}/assets/art/danger-strangers_wips.jpg" alt="process shots of the drawing"></a>
<figcaption class="wrap"><div class="box" markdown="1">
Dialogue is slightly different between these, yes. There's no story context but "*well actually*" didn't quite fit the character; then I realized "y'see" doesn't fit the tongue shape, and by then I didn't feel like redrawing it.
</div></figcaption>
</figure>

<div class="wrap"><div class="box" markdown="1">
Something something do the kids even know what Vine is these days, idk, I don't miss it. Cartoonishly-exaggerated expressions are fun but not always in-character. Also, it is increasingly funny to revisit young-adult characters who I made/developed as a real-life teenager. Yeah, they definitely have everything stabilized and set in stone forever at -checks watch- 19 and 22. That's exactly how life works.
</div></div>