---
layout: "00"
title: "take the (screen)shot. redraw"
slug: shot
tags: [painterly,miscFanart]
date: 2026-08-18

typ: fa
main: shot.png
alt: >-
  A semi-rough painting of a character aiming a lens towards the viewer. She looks mad.
# no img-class, not transparent

css: "
	#fa #main{background:#000; padding:3em 0;}
	#fa #img{border:0;} #fa #img img{max-height:100vh;}
	#fa header{background:#08142f; color:#3D7686;} #fa main{border-top:0;} #fa header ::selection,#fa main ::selection{background:#000; color:#fff;}
"
---
<div class="wrap"><div class="box" markdown="1">
If I had a nickel for every time I've done a [screenshot](https://youtu.be/L1G1V7nwgCk?si=Zc36tpXlE26ueLEw&t=64) study of this character looking unhinged while aiming a gun, I'd have two nickels. Which is actually a very small amount of nickels, all considered.
</div></div>

<figure>
<a href="{%include url.html%}/assets/art/2025-05-08.jpg" class="fg"><img src="{%include url.html%}/assets/art/2025-05-08.jpg" alt="process shots of the drawing, in GIF form" style="max-height:600px;"></a>
<div class="wrap left"><figcaption markdown="1">
From 2025. Tangentially, it's really funny to me when artists watch <i>Arcane</i> and their work immediately starts showing telltale signs of having studied the style. It's good rendering, brent!
</figcaption></div>
</figure>

<div class="wrap"><div class="box" markdown="1">
This was meant to be quick, messy painting practice and then I got lost in the blending sauce. Colors eyeballed from a sightly brightened edit; merged the sketch down and rendered mostly on one layer, save the stray adjustment & highlight. Time taken not noted; started about 4 hours from finish, but there were several breaks between.
</div></div>

<figure>
<a href="{%include url.html%}/assets/art/shot_process.gif" class="fg"><img src="{%include url.html%}/assets/art/shot_process.gif" alt="process shots of the drawing, in GIF form" style="max-height:600px;"></a>
<div class="wrap left"><figcaption markdown="1">
Colorless sketch not included because I simply do not vibe with it. I normally wouldn't publish sketches I dislike, but the process gif looked weird without.
</figcaption></div>
</figure>

<div class="wrap"><div class="box" markdown="1">
Character who made me understand what people mean when they're like "this one's my favorite, he sucks and I hate him." Diversity winloss for me personally. I have nothing else to say.
</div></div>