---
layout: "00"
title: hawkbane.mdp
slug: hawkbane
tags: [2d,flightrising]
date: 2026-08-17

typ: fa
main: hawkbane.png
alt: >-
  An angular lineless dragon, hunched over an indistinct glob of meat. The dragon's horns, maw, and claws are spattered in blood. It is a good feast.
img-class: nobg

css: "
	main img{max-height:100vh;}
	#main,#fa #img{background:#1d0608;}
	#fa #main{padding-bottom:1em;}
	#fa #img{border:0; transition:.75s ease-in;} #fa #img:hover,#fa #img:focus,#fa #img:active{opacity:.25; background:#1d0608; transition:.75s;}
	
	#fa header{background:#80111b; color:#f7e6e9;}
	#fa main{border-top:0;}
	#fa header ::selection,#fa #img ::selection{background:#3b234d; color:#d6a08b;}
	
	#fa figcaption.wrap{color:#efefef; text-align:center; padding:.25em 1em;}
"
---
<div class="wrap"><div class="box" markdown="1">
Had the distinct pleasure this evening of watching a [raptor](https://en.wikipedia.org/wiki/Broad-winged_hawk) tear into a small mammal, as birds of prey do. Drew an angular dragon about it!
</div></div>

<figure>
<a href="{%include url.html%}/assets/art/hawkbane_wip1.jpg" class="fg"><img src="{%include url.html%}/assets/art/hawkbane_wip1.jpg" alt="process shots of the drawing. Noted: “cool-ass hawk”, “baned snek…”, and corrections on one layer “w/ ref”"></a>
<a href="{%include url.html%}/assets/art/hawkbane_wip2.jpg" class="fg"><img src="{%include url.html%}/assets/art/hawkbane_wip2.jpg" alt=""></a>
</figure>

<div class="wrap"><div class="box" markdown="1">
This is [a Banescale](https://www1.flightrising.com/dragon/57347791), a breed of dragon on the neopets-knockoff game I've been playing for over 10&nbsp;years somehow. Flight&nbsp;Rising dragons have absurdly complex designs, and when I'm drawing for myself I'm not fussed about capturing the details.

The shiny bloody meat-mush will be toned down for the FR version. Which is a pity because I had a weird amount of fun with it? Guts and gore tend to squick me out, but ig if it's vague and squiggly it's fine. Anyway.
</div></div>

<figure>
<a href="{%include url.html%}/assets/art/hawkbane_palette.jpg" class="fg"><img src="{%include url.html%}/assets/art/hawkbane_palette.jpg" alt=""></a>
<figcaption class="wrap" markdown="1">
<small>Is it really palette simplification if it doesn't resemble a [melting character popsicle](https://quitesorry.tumblr.com/post/160537353598)?</small>
</figcaption>
</figure>

<div class="wrap"><div class="box" markdown="1">
<b class="sc">time taken</b>: ~85&nbsp;minutes, not including the obligatory WIP compilations. Or the fancy decorative touches at the top of this page, which happened because I did not like how it looked on the default gray background.
</div></div>