---
layout: "00"
title: people who don’t smile and people who smile maybe too much
slug: cmyk
tags: [disastercrew]
date: 2026-08-20
#     90% of the drawing from last night (8/19), fixes & HTML page today (8/20)

typ: fa
# tried doing this with the fa base layout but it was acting weird... might be able to retroactively normalize stuff but for now. w/e
alt: >-
    Squares of character portraits. Detailed descriptions in the alt text, or [skip to the overall art description](#desc).
cmyk:
  - nm: nico
    alt: >-
      Two versions of a sharp-faced guy. Young version is annoyed by his older self, who looks considerably less lively, scruffing his hair. Bright green, pale red.
  - nm: ivy
    alt: >-
      Two versions of a round-faced young woman. Younger version is timid; older self is not interacting with her at all. Pale blue, bright cyan.
  - nm: ava
    alt: >-
      Two versions of a cheery, bright girl. Both smile at each other with wide grins; the older holds a finger to her lip in a shushing motion, while the younger swipes her thumb across her neck. White, yellow.
  - nm: tara
    alt: >-
      A silhouette from the back; a tall figure holds up two fingers in a peace sign. Skewed angle, from dark trees to a vibrant, red-toned sky.
  - nm: vexus
    alt: >-
      A boy flips off the viewer. Grungy green.
  - nm: levi
    alt: >-
      A nerd with glasses and braces grins ominously over the viewer/camera. Textured purple.
  - nm: dodder
    alt: >-
      A disheveled, pale man stares direclty at the viewer/camera. Bright, pale yellow background; marred entirely by darker streaks and faint green scribbles.

css: "
	#fa #main{padding:0;}
	#main ::selection{background:#000;}
	#main ul{list-style-type:none; line-height:0; background:#000; padding:.5em;}
	#main li{display:inline-block; margin:.5em; overflow:hidden; border-radius:2px;}
	.cmyk{display:inline-block;} .cmyk:hover,.cmyk:active,.cmyk:focus{opacity:.75;}
	@media only screen and (min-width:1010px){
		#main li{width:30%; max-width:500px;}
		#tara{width:100% !important; max-width:100% !important; margin:.5em 0 !important;}
	}
	#cmyk-list p:first-of-type{margin-bottom:0;} #fa .box ul{margin:0 1em;} #cmyk-list li{margin:.5em 0;}
	
	#thin{display:none;}
	
	@media only screen and (min-width:750px){
		#float{text-align:center; max-width:1000px; margin:0 auto;}
		#float figure,#float>.wrap{text-align:left; width:49%; vertical-align:middle; display:inline-block;}
		#cmyk-list{margin-bottom:2em !important;}
		#thin{display:inline;} #wide{display:none;}
	}
"
---
<!--lifted from the `00` base layout, with some adjustments-->
<section id="main"{%if page.img-class%} class="{{page.img-class}}"{%endif%}><div class="x">{{page.alt|markdownify}}</div>
	<ul>{%for c in page.cmyk%}<li id="{{c.nm}}"><a href="{%include url.html%}/assets/art/{{page.slug}}-{{c.nm}}.png" class="cmyk"><img src="{%include url.html%}/assets/art/{{page.slug}}-{{c.nm}}.png" alt="{{c.alt|markdownify|remove:'<p>'|remove:'</p>'|strip_newlines}}"></a></li>{%endfor%}</ul>
</section><!--/#main-->

<section id="desc">
<div class="wrap"><div class="box" markdown="1">
Lost internet, considered finally fixing the [Toyshelf](https://a-flyleaf.github.io/toyshelf) tagging system, went *nah* and whipped up some new "thumbnails" for these losers instead. Some of their designs are more consistent than others.
</div></div>

<div id="float"><figure>
<a href="{%include url.html%}/assets/art/cmyk_wip.jpg" class="fg"><img src="{%include url.html%}/assets/art/cmyk_wip.jpg" alt="process shot of the squares in one canvas as drawn, in a 2×8 column (with one left intentionally blank, where time notes used to be)"></a>
<div class="wrap left"><figcaption markdown="1">
I didn't really have an all-together layout planned. I still don't! For the finished squares above, I just winged it directly in code 👍
</figcaption></div>
</figure>

<div class="wrap"><div class="box" markdown="1" id="cmyk-list">
random relevant factoids:
- You know those digital artist memes about having unsearchable keysmash filenames? I did that at first. Then I got sick of it. In 2014, I started keeping random doodle-sketches in files titled by date. This does not solve any "where the fuck did I put that one scribble" problems, but it looks nice.  
&emsp;Anyway, the default canvas size was 500×500px for years---including through 2018, when most of these characters were developed. Hence the size of these!
- I try to avoid coloring with base colors + overlay spam. <small>(There's nothing Inherently Wrong with it, it just tends to feel cheap/lazy to me. Uniting a color scheme from the getgo tends to be faster, as a plus.)</small> These were all colored with base defaults and overlay spam anyway, because I did not have one singular iota of a palette plan going in.
</div>
<div class="box" markdown="1">
<b class="sc">time taken</b>: about 7&nbsp;hours, breaks not included, plus some untimed handful of minutes for next-day fixes. Also not including code fuckery on this webpage---primarily for the finished art, but also for this description. It's different if your browser's <span id="wide">wide</span><span class="x"> or </span><span id="thin">thin</span>!
</div></div>
</div><!--/#float-->
</section>