---
layout: "00"
typ: fa
slug: test-art

main: movie-day_100.png
---
<div class="wrap"><div class="box" markdown="1">
This is a text box.
</div></div>

<figure>
<img src="{%include url.html%}/assets/art/2019-03-10.jpg">
<div class="wrap"><figcaption markdown="1">
This is a plain figcaption. markdown=1
</figcaption></div>
</figure>

<div class="wrap"><div class="box" markdown="1">
This is another text box.
</div></div>

<figure>
<img src="{%include url.html%}/assets/art/2019-03-10.jpg">
<div class="wrap"><figcaption markdown="1">
This is a plain figcaption. markdown=1

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1966, when designers at Letraset and James Mosley, the librarian at St Bride Printing Library in London, took a 1914 Cicero translation and scrambled it to make dummy text for Letraset's Body Type sheets. It has survived not only many decades, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks to these sheets and more recently with desktop publishing software like Aldus PageMaker and Microsoft Word including versions of Lorem Ipsum.
</figcaption></div>
</figure>

<div class="wrap"><div class="box" markdown="1">
Wow, yet another text box!
</div></div>