<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{%if page.title%}{{page.title}} | {%endif%}{{site.name}}</title>
	<link rel="stylesheet" type="text/css" href="{{site.url}}/assets/00.css">{%if page.css%}
	<style>{{page.css}}</style>{%endif%}
</head>
<body{%if page.id%} id="{{page.id}}"{%endif%}{%if page.class%} class="{{page.class}}"{%endif%}>{{content}}</body>
</html>